@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0px;
}
:root{
    --cor1:#082621 ;
    --cor2:#2F4B3C ;
    --cor3:#F2E6D8  ;
    --cor4:#F2994B  ;
    --cor5:#F2441D ;
    --cor6:#1A1A1A;
    --cor7:#ffffff;
    --cor7:#EDEDED;
    /*declaração de fontes*/
    --fonte-1:"Poppins";
    --fonte-2:"MuseoModerno";
    
}
header {
    background-image: url(images/fundo-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 550px;
    width: 1300px;
    margin: 10px auto;
    padding-top:20px ;
    font-family: "Poppins", sans-serif;
    position: relative;
}
header h1{
    font-family: var(--fonte-2);
    font-size: 8em;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% ,-50%);
}
header a,li {
    color: white;
}

header nav {
    border: 2px solid white;
    backdrop-filter: blur(12px);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 5px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul.central{
    width: 250px;
   
}
header ul.direita{
    width: 250px;
}
header ul li {
    text-shadow: 0px 0px 2px rgb(38, 36, 36);
    font-size: 1.1em;
}
header ul li.login{
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    transition: 0.6s;
}
header ul li.login:hover{
    background-color: white;
    color: black;
    text-shadow: none;
}
header ul li.criar-conta{
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    background-color: #F2994B;
}
header a {
    text-decoration: none;
}
input{
    margin: 0px;
    border-radius: 20px;
}
::placeholder{
    text-align: center;
}
