
@keyframes carosel {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-210px);
    }
    50%{
        transform: translateX(-500px);
    }
    70%{
        transform: translateX(-900px);
    }
}
#carrossel{
    animation:  carosel 20s infinite ;
}