:root {
  --pCor: #072621;
  --sCor: #2F4B3C;
  --tCor: #F2E6D8;
  --qCor: #F2994B;
  --quiCor: #F2451D;
  --sexCor: #1A1A1A;
  --setCor: #FFFFFF;
  --oCor: #EDEDED;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;

}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color: #AAA;
  font-size: .7em;
}

input {
  background-color: #2f4b3c69;
  color: #AAA;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 13px 8px;
  outline: none;
  margin-bottom: .6em;
}

input::placeholder {
  color: #AAA;
}

.btn, 
button, 
input[type="submit"] {
  background-color: var(--pCor);
  color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  opacity: .9;
  font-size: 1em;
  transition: .2s;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: #000;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.cancel--btn {
  background-color: #CCC;
}

.hide {
  display: none;
}