.logo {
    display: none;
}
@media screen and (max-width:800px) {
    div#container-carrossel{
        width: 100%;
    }
}
/* CELULAR - AUTH */
@media (max-width: 600px) {
    nav{
        width: 100%;
    }
        /* tamanho dos títulos */
    h2{
        font-size: 2em;
    }
    nav{
        width: 100%;
    }
    #section-img{
        display: none;
    }
    /* seção de itens do Home */
    section > ul{
        flex-flow: column nowrap;
        height: 150px;
    }
    section > ul > li div#icone1 {
        left: -70px;
    }
    section > ul > li div#icone2 {
        left: -50px;}
    div.box{
        width: 100%;
    }
    /* REGISTRO - LOGIN E CADASTRO */
    .wrapper-auth {
        display: flex;
        flex-direction: column;
    }

    .register-left {
        display: none;
    }

    .box-input {
        padding: 7rem !important;
        width: 600px !important;
    }

    .logo {
        background-color: #0D66B4;
        padding: 1.5rem;
        border-radius: 30px 2px 30px 0px;
        filter: invert();
        position: absolute;
        transform: scale(0.2);
        top: -20px;
        left: center;
        display: block
    }

    .register-form {
        position: relative;
    }

    /* CARRINHO */
    .container-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-itens-cart,
    .box-itens-pay {
        width: 100%;
    }

    .img-box-items {
        height: 100px !important;
        width: 100px !important;
    }

    .trashBin-box-items {
        width: 20px;
        height: 20px;
    }

    .box-pay {
        height: 45vh;
    }

    .footer {
        margin-top: 20em;
    }

    /* CATALOGO */

    .title-catalog {
        font-size: 45pt;
    }

    .image-item-catalog {
        width: 50%;
        height: 60% !important;
        margin-bottom: .5rem; 
    }

    .description-catalog {
        width: 80%;
    }

    .box-catalog {
        font-size: 9pt !important;
        width: 100%;
    }

    .box-items-catalog {
        width: 40vw;
        height: 30vh !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
            width: 80%;
        }
    }

    .item-search {
        left: 40px !important;
    }

    .input-search {
        margin-left: 20px !important;
    }

    .modal-catalog {
        width: 90%;
        height: auto;
        padding: 1.2em;
    }

    & img.teste {
        width: 150px;
        height: 150px;
    }

    .box-modal-catalog {
        width: 60%;
        font-size: 12pt;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (orientation:landscape) and (max-width: 650px){
    .box-input {
        padding: 7rem !important;
        width: 800px !important;
    }
}

/* TABLET - AUTH */
@media (max-width: 870px) {

    .wrapper-auth {
        display: flex;
        flex-direction: column;
    }

    .register-left {
        display: none;
    }

    .box-input {
        padding: 6rem;
        width: 900px;
    }

    .logo {
        background-color: #0D66B4;
        padding: 1.5rem;
        border-radius: 30px 2px 30px 0px;
        filter: invert();
        position: absolute;
        transform: scale(0.2);
        top: -20px;
        left: center;
        display: block
    }

    .register-form {
        position: relative;
    }

     .container-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-itens-cart,
    .box-itens-pay {
        width: 100%;
    }

    .box-items {
        width: 150px
    }

    .img-box-items {
        height: 200px;
        width: 200px
    }

    .box-pay {
        height: 45vh;
    }

    .footer {
        margin-top: 30em;
    }

    /* TABLET - CATALOG */
    .image-item-catalog {
        width: 80%;
        height: 80%;
    }

    .description-catalog {
        width: 80%;
    }

    .box-catalog {
        font-size: 12pt;
        width: 100%;
    }

    .box-items-catalog {
        height: 30vh;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
            width: 80%;
        }
    }

    .item-search {
        left: 95px;
    }

    .input-search {
        margin-left: 80px;
    }
}